<div class="login-page">
	<form class="login-card" (ngSubmit)="onSubmit(usernameInput.value)">

		<label id="card-title" for="username">Username</label>

		<!-- <small class="error-message" *ngIf="hasUserWithSameName">Já existe um usuário com esse nome.</small> -->
		<input id="username" #usernameInput type="text" maxlength="12" placeholder="Digite seu nome de usuário" autocomplete="off" required>

		<button type="submit" aria-label="Entrar">Entrar</button>

		<small class="hint">Você será identificado apenas pelo username.</small>
	</form>
</div>
